@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');

/* for notched phones */
@supports (padding: max(0px)) {
  body,
  header,
  footer {
    padding-left: min(0vmin, env(safe-area-inset-left));
    padding-right: min(0vmin, env(safe-area-inset-right));
  }
}

:root {
  /* N.B. CSS variables are passed to children! */
  --dice-cup-height: 30vh;
  /* N.B. keeps dice cup container in proportion to the dice cup svgs*/
  --dice-cup-width: calc(var(--dice-cup-height) * (130 / 179));
}

@media (orientation: portrait) {
  :root {
    --banked-dice-size: min(
      40px,
      max(32px, calc((100vw - var(--dice-cup-width)) / 7))
    );

    --scoring-groups-area-height: calc(var(--banked-dice-size) * 1.1 * 6 + 3em);

    --rolled-dice-area-height: calc(
      100vh - 40px - var(--scoring-groups-area-height)
    );
    /* viewportHeight - headerHeight - scoringGroupsAreaHeight */

    --rolled-dice-size: calc(min(100vw, var(--rolled-dice-area-height)) / 6);
  }
}
@media (orientation: landscape) {
  :root {
    --banked-dice-size: calc((100vw / 2) / 10);

    --scoring-groups-area-width: calc(var(--banked-dice-size) * 1.5 * 6);

    --rolled-dice-size: calc(
      min(
          calc(100vh - 60px - var(--dice-cup-height)),
          calc(100vw - var(--scoring-groups-area-width))
        ) / 6
    );
  }
}

body {
  margin: 0;
  font-family: 'Playfair Display', serif;
  color: rgb(180, 176, 85);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  user-select: none;
  cursor: default;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
