@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');

/* for notched phones */
@supports (padding: max(0px)) {
  body,
  header,
  footer {
    padding-left: min(0vmin, env(safe-area-inset-left));
    padding-right: min(0vmin, env(safe-area-inset-right));
  }
}

:root {
  /* N.B. CSS variables are passed to children! */
  --dice-cup-height: 30vh;
  /* N.B. keeps dice cup container in proportion to the dice cup svgs*/
  --dice-cup-width: calc(var(--dice-cup-height) * (130 / 179));
  --dice-cup-right-margin: 10px;

  --max-banked-dice-size: 40px;
  --min-banked-dice-size: 10px; /* effectively no minimum banked dice size */

  /* --max-rolled-dice-size: 60px; */
  --min-rolled-dice-size: 28px;

  --header-height-estimate: 50px;

  --turn-score-height: 52px;

  --game-container-width: min(100vw, 900px);
  --game-container-height: calc(100vh - var(--header-height-estimate));
}

@media (max-height: 500px) {
  :root {
    --header-height-estimate: 33px;
  }
}

@media (orientation: portrait) {
  :root {
    --scoring-groups-area-height: min(
      330px,
      var(--game-container-height) * 0.5
    );
    --scoring-groups-area-width: calc(
      100vw - 30px
    ); /* -30px for horizontal margins */

    --rolled-dice-area-height: calc(
      var(--game-container-height) - var(--scoring-groups-area-height)
    );

    --rolled-dice-area-width: var(--game-container-width);

    --banked-dice-size: min(
      var(--max-banked-dice-size),
      max(
        var(--min-banked-dice-size),
        calc(
          min(
              var(--scoring-groups-area-height) - var(--turn-score-height) -
                40px,
              var(--scoring-groups-area-width) - var(--dice-cup-width)
            ) / (6 * 1.1) - 2px
            /* each banked dice has `margin: 1px`; -2px to account for this */
            /* N.B. dont need to account for DiceCup right margin, because it's 
              less than the horizontal margins of the ScoringGroups container */
            /* N.B. -40px is a magic value :/ */
        )
      )
    );

    --rolled-dice-size: max(
      var(--rolled-dice-area-height) / 8,
      var(--min-rolled-dice-size)
    );
  }
}
@media (orientation: landscape) {
  :root {
    --scoring-groups-area-width: min(380px, 45vw);
    --scoring-groups-area-height: var(--game-container-height);

    /* calc(var(--banked-dice-size) * 1.5 * 6); */

    --rolled-dice-area-height: calc(
      var(--game-container-height) - var(--dice-cup-height)
    );
    --rolled-dice-area-width: calc(
      var(--game-container-width) - var(--scoring-groups-area-width)
    );

    /* --banked-dice-size: min(40px, calc((var(--game-container-width) / 2) / 10)); */

    --banked-dice-size: min(
      var(--max-banked-dice-size),
      min(
          var(--scoring-groups-area-height) - var(--turn-score-height) - 80px,
          var(--scoring-groups-area-width) - 60px
        ) / (6 * 1.1) - 2px
        /* each banked dice has `margin: 1px`; -2px to account for this */
        /* N.B. -80px and -60px are magic values :/ */
    );

    --rolled-dice-size: max(
      min(var(--rolled-dice-area-height), var(--rolled-dice-area-width)) / 8,
      var(--min-rolled-dice-size)
    );
  }
}

body {
  margin: 0;
  font-family: 'Playfair Display', serif;
  color: rgb(180, 176, 85);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  user-select: none;
  cursor: default;

  overscroll-behavior: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
